<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/style/styles.css}" />
</head>
<body>
  <h1>Przygituj własne taco!</h1>
  <img th:src="@{/images/TacoCloud.jpg}" />

  <form method="POST" th:object="${design}">
    <div class="grid">
      <div class="ingredient-group" id="wraps">
        <h3>Wybierz rodzaj mąki</h3>
        <div th:each="ingredient.name : ${wrap}">
          <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
          <span th:text="${ingredient.name}">SKŁADNIKI</span><br />
        </div>
      </div>

      <div class="ingredient-group" id="proteins">
        <h3>Wybierz sery:</h3>
        <div th:each="ingredient : ${protein}">
          <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
          <span th:text="${ingredient.name}">SKŁADNIK</span> <br />
        </div>
      </div>

      <div class="ingredient-group" id="cheeses">
        <h3>Wybierz sery:</h3>
        <div th:each="ingredient : ${cheese}">
          <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
          <span th:text="${ingredient.name}">SKŁADNIK</span> <br />
        </div>
      </div>

      <div class="ingredient-group" id="veggies">
        <h3>Wybierz sery:</h3>
        <div th:each="ingredient : ${veggies}">
          <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
          <span th:text="${ingredient.name}">SKŁADNIK</span> <br />
        </div>
      </div>

      <div class="ingredient-group" id="sauces">
        <h3>Wybierz sery:</h3>
        <div th:each="ingredient : ${sauce}">
          <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
          <span th:text="${ingredient.name}">SKŁADNIK</span> <br />
        </div>
      </div>
    </div>

    <div>
      <h3>Nadaj nazwę przygotowanemu taco:</h3>
      <input type="text" th:field="*{name}"/>
      <button>Wyślij swoje zamówienie</button>
    </div>
  </form>
</body>
</html>